<div class="post" data-key="{{this.key}}">
    <div class="post__header">
        <div class="post__header-avatar">
            <img class="post__avatar avatar" src="{{this.avatar}}" alt="avatar">
        </div>
        <div class="post__header-text">
            <span class="post__title header-text">{{this.title}}</span>
            <span class="post__date">{{this.date}}</span>
        </div>
    </div>
    <hr>
    <div class="post__content">
        <span class="post__content-text">{{this.text}}</span>
        <div class="post__content-image">
            <img src="{{this.img}}" alt="">
        </div>
    </div>
    <div class="post__footer">

    </div>
</div>
