<div class="post" data-key="{{this.key}}">
    <div class="post__header">
        <div class="post__header-avatar">
            <img class="post__avatar avatar" src="{{this.avatar}}" alt="avatar">
        </div>
        <div class="post__header-text">
            <span class="post__title header-text">{{this.title}}</span>
            <span class="post__date">{{this.date}}</span>
        </div>
        {{#if this.hasEditButton}}
        <div class="post__header-edit">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier"> <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </g>
            </svg>
        </div>
        {{/if}}
        {{#if this.hasDeleteButton}}
        <div class="post__header-delete">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier">
                    <path fill="#ffffff" d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32V256zm448-64v-64H416v64h192zM224 896h576V256H224v640zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32zm192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32z"/>
                </g>
            </svg>
        </div>
        {{/if}}
    </div>
    <hr>
    <div class="post__content">
        <span class="post__content-text">{{this.text}}</span>
        <div class="post__content-image">
            <img src="{{this.img}}" alt="">
        </div>
    </div>
    <div class="post__footer">
        <div class="post__like">
            <div class="post__like-button">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 422.686 422.686" style="enable-background:new 0 0 422.686 422.686;" xml:space="preserve"><g><g><path d="M212.79,397.817l-5.576-4.975c-4.519-4.024-11.201-11.234-21.329-22.142 c-25.044-26.962-71.645-93.422-151.777-166.498l-1.528-1.479l-0.041,0.049l-2.032-2.113C10.9,181.361,0,156.032,0,129.541 C0,71.82,51.129,24.869,113.971,24.869c49.162,0,86.602,49.909,96.901,65.207l1.211-0.285 c10.023-15.013,47.455-64.923,96.641-64.923c62.834,0,113.963,46.951,113.963,104.672c0,29.206-12.957,56.404-36.481,76.628 l-0.39,0.415c-83.57,76.238-127.456,141.722-151.037,168.164c-7.747,8.689-12.868,14.428-16.558,17.932L212.79,397.817z M44.228,191.424l0.829,0.756c80.635,73.539,127.537,140.324,152.744,167.465c5.942,6.405,10.852,11.689,14.656,15.607 c2.772-3.008,6.17-6.82,10.185-11.323c23.776-26.662,68.02-92.56,151.809-168.969l0.87-0.886 c20.069-17.111,31.108-40.033,31.108-64.533c0-48.755-43.837-88.415-97.714-88.415c-32.693,0-64.533,29.978-83.432,58.03 c-2.934,4.398-8.161,7.031-13.949,7.031c-5.788,0-11.006-2.634-13.965-7.047c-18.883-28.035-50.714-58.014-83.407-58.014 c-53.876,0-97.706,39.659-97.706,88.415c0,22.102,9.177,43.317,25.849,59.729l1.162,1.219l-5.154,6.365l5.747-5.747 C43.976,191.204,44.098,191.318,44.228,191.424L44.228,191.424z M38.115,196.854l-5.487,5.828l3.089-2.642L38.115,196.854z" fill="#ffffff"/></g></g></svg>
            </div>
            <div class="post__like-counter">
                {{this.likes}}
            </div>
        </div>
    </div>
</div>
