<div class="chat-message" data-key="{{this.key}}">
    <div class="chat-message__avatar">
        <img class="avatar" src="{{this.messageAvatar}}" alt="">
    </div>
    <div class="chat-message__content">
        <div class="chat-message__name">
            <a class="chat-message__link" href="">{{this.messageName}}</a>
            <span class="chat-message__date date">{{this.createdAt}}</span>
        </div>
        <div class="chat-message__text">
            {{this.messageText}}
        </div>
        <div class="chat-message__attachments">
            {{#each attachments}}
                <div class="chat-message__attachment-container">
                    {{{this}}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
