<div class="publish-form" data-key="{{this.key}}">
    <h2 class="publish-form__title">Создайте новый стикер</h2>
    <form method="post" class="form" id="formCreateSticker">
        {{#each textAreas}}
            {{{this}}}
        {{/each}}
        {{#each inputs}}
            {{{this}}}
        {{/each}}
        <span class="form__error">
            {{error}}
        </span>
        {{{button}}}
    </form>
</div>