<div class="profile">
    <div class="profile__header">
        <div class="profile__header-img">
            <img src="{{img}}" alt="">
        </div>
        <div class="profile__header-info">
            <div class="profile__name">
                <h1>{{firstName}}</h1>
                <h1>{{secondName}}</h1>
            </div>
            <span>{{description}}</span>
            <div class="profile__community">
                <a href=""><span>Friends: {{friendsCount}}</span></a>
                <a href=""><span>Groups: {{groupsCount}}</span></a>
            </div>
        </div>
        <div class="profile__edit"></div>
    </div>
    <hr>
    <div class="profile__posts">
        <h2>Posts</h2>
    </div>
</div>