<div class="profile">
    <div class="profile__header">
        <div class="profile__header-img">
            <img class="avatar" src="{{img}}" alt="">
        </div>
        <div class="profile__header-info">
            <div class="profile__name">
                <h1>{{firstName}}</h1>
                <h1>{{secondName}}</h1>
            </div>
            <span>{{description}}</span>
            {{!-- <div class="profile__community">
                <a href=""><span>Friends: {{friendsCount}}</span></a>
                <a href=""><span>Groups: {{groupsCount}}</span></a>
            </div> --}}
            <div class="profile__actions">
                {{#if this.isFriend}}
                <button class="button-action button-no-decorations">Добавить в друзья</button>
                {{/if}}
                {{#if !this.isAuthor}}
                <a href="" class="write-message">Написать сообщение</a>
                {{/if}}
                {{#if this.isAuthor}}
                <a href="{{this.createPostHref}}" class="profile-edit">Редактировать профиль</a>
                {{/if}}
            </div>
        </div>
        <div class="profile__edit"></div>
    </div>
    <hr>
    <div class="profile__content">
        <div class="profile__posts-header">
            <h2>Posts</h2>
            {{#if this.isAuthor}}
            <a class="header__link" href="{{this.createPostHref}}">Создать пост</a>
            {{/if}}
            </div>
        <div class="profile__posts">
        </div>
    </div>
</div>
