<div class="profile">
    <div class="profile__header">
        <div class="profile__header-img">
            <img class="avatar" src="{{img}}" alt="">
        </div>
        <div class="profile__header-info">
            <div class="profile__name">
                <h1>{{firstName}}</h1>
                <h1>{{secondName}}</h1>
            </div>
            <span>{{description}}</span>
            {{!-- <div class="profile__community">
                <a href=""><span>Friends: {{friendsCount}}</span></a>
                <a href=""><span>Groups: {{groupsCount}}</span></a>
            </div> --}}
            <div class="profile__actions">
                
            </div>
        </div>
        <div class="profile__edit"></div>
    </div>
    <hr>
    <div class="profile__content">
        <div class="profile__posts-header">
            <h2>Posts</h2>
            <a class="header__link" href="{{this.createPostHref}}">Создать пост</a>
            </div>
        <div class="profile__posts">
        </div>
    </div>
</div>
