<div class="cover" data-key="{{this.key}}">
    <div class="sign">
        <div class="sign__title"><a class="title" href="/feed"><h1>Vilka</h1></a></div>
        <div class="sign__name"><h2>Вход</h2></div>
        <div class="sign__form">
            <form method="post" class="form" id="formLogin">
                {{#each inputs}}
                    {{{this}}}
                {{/each}}
                <span class="form__error">
                    {{{error}}}
                </span>
                {{{button}}}
                {{{toSignupLink}}}
            </form>
        </div>
    </div>
</div>
