<div class="cover" data-section="{{this.section}}">
    <div class="signup">
        <div class="title-sign"><a href="/feed" class="title-link"><h1>Vilka</h1></a></div>
        <div class="name-sign"><h2>Вход</h2></div>
        <div class="form-sign">
            <form action="auth/login" method="post" class="{{this.className}}" id="{{this.id}}">
                {{#each inputs}}
                    {{{this}}}
                {{/each}}
                <span class="error-message"></span>
                {{{button}}}
                {{{toSignupLink}}}
            </form>
        </div>
    </div>
</div>
