<a href="" class="message item link-no-decorations">
    <div>
        <img src="{{this.avatar}}" alt="Avatar" class="message__avatar avatar item__img">
    </div>
    <div class="message__info item__info">
        <span>{{this.name}}</span>
        <span>{{this.lastMessage}}</span>
    </div>
    <div class="message__state item__state">
        <span>{{this.date}}</span>
        <div class="message__count">
            <span>{{this.unreadedCount}}</span>
        </div>
    </div>
</a>