<div class="publish-form" data-key="{{this.key}}">
    <h2 class="publish-form__title">Что у вас нового?</h2>
    <form method="post" class="form" id="formCreatePost">
        {{#each textAreas}}
            {{{this}}}
        {{/each}}
        {{#each inputs}}
            {{{this}}}
        {{/each}}
        {{{attachmentsInput}}}
        <span class="form__error">
            {{error}}
        </span>
        {{{button}}}
    </form>
</div>
