<div class="friend item">
    <div>
        <img src="{{this.avatar}}" alt="Avatar" class="friend__avatar avatar item__img">
    </div>
    <div class="friend__info item__info">
        <a class="link" href=""><span>{{this.name}}</span></a>
        <span>{{this.description}}</span>
        <a class="friend__link" href=""><span>написать сообщение</span></a>
    </div>
    <div class="friend__state item__state">
        {{#if this.isFriend}}
            <button class="remove-friend" href="">Удалить из друзей</button>
        {{else if this.isSubscriber}}
            <button class="accept-friend" href="">Подтвердить заявку в друзья</button>
        {{else if this.isSubscription}}
            <button class="unsubscribe-friend" href="">Отменить заявку в друзья</button>
        {{else}}
            <button class="subscribe-friend" href="">Добавить в друзья</button>
        {{/if}}
    </div>
</div>