<div class="cover" data-key="{{this.key}}">
    <div class="sign">
        <div class="sign__title"><a href="/feed" class="title"><h1>Vilka</h1></a></div>
        <div class="sign__name"><h2>Регистрация</h2></div>
        <div class="sign__form">
            <form action="post" class="form" id="formSignUp">
                {{#each inputs}}
                    {{{this}}}
                {{/each}}
                <span class="form__error">
                    {{this.error}}
                </span>
                {{{button}}}
                {{{toLoginLink}}}
            </form>
        </div>
    </div>
</div>
