<div class="group item" data-key="{{this.key}}">
    <div>
        <a class="link-no-decoration group-avatar" href="{{this.href}}">
            <img src="{{this.avatar}}" alt="Avatar" class="group__avatar avatar item__img">
        </a>
    </div>
    <div class="group__info item__info">
        <a class="link" href="{{this.href}}" data-key="groupLink"><span>{{this.name}}</span></a>
        <span>{{this.description}}</span>
    </div>
    <div class="group__state item__state">
        {{#if this.isFollow}}
            <button class="subscribe-group button-action-negative button-no-decorations unfollow-group" href="">Отписаться</button>
        {{else}}
            <button class="subscribe-group button-action button-no-decorations follow-group" href="">Подписаться</button>
        {{/if}}
    </div>
</div>