<div class="{{this.className}}" data-section="{{this.section}}">
    <label for="{{this.name}}">{{this.text}}</label>
    <input type="{{this.type}}" id="{{this.name}}" name="{{this.name}}" placeholder="{{this.text}}">
</div>
