<div class="input-block" data-key="{{this.key}}">
    <label for="{{this.name}}">{{this.text}}</label>
    <input type="{{this.type}}" id="{{this.name}}" name="{{this.name}}" placeholder="{{this.text}}">
    <span class="error"></span>
</div>
