<div class="form__input" data-key="{{this.key}}">
    <label for="{{this.name}}">{{this.placeholder}}</label>
    <input type="{{this.type}}" value="{{this.text}}" id="{{this.name}}" name="{{this.name}}" placeholder="{{this.placeholder}}" accept="{{this.accept}}" {{this.extra}}>
    <span class="form__input-error"></span>
</div>
