<div class="form__textarea" data-key="{{this.key}}">
    <label for="{{this.name}}">{{this.text}}</label>
    <textarea type="{{this.type}}" id="{{this.name}}" name="{{this.name}}" placeholder="{{this.text}}" rows="10"></textarea>
    <span class="form__input-error"></span>
</div>
