<div class="form__textarea" data-key="{{this.key}}">
    <label for="{{this.name}}">{{this.header}}</label>
    <textarea type="{{this.type}}" id="{{this.name}}" name="{{this.name}}" placeholder="{{this.header}}" rows="10">{{this.text}}</textarea>
    <span class="form__input-error"></span>
</div>
