<div class="group-page" data-key="{{this.key}}">
    <div class="group-page__header">
        <div class="group-page__header-img">
            <img class="avatar" src="{{img}}" alt="">
        </div>
        <div class="group-page__header-info">
            <div class="group-page__name">
                <h1>{{name}}</h1>
            </div>
            <span>{{description}}</span>
            {{!-- <div class="group-page__community">
                <a href=""><span>Friends: {{friendsCount}}</span></a>
                <a href=""><span>Groups: {{groupsCount}}</span></a>
            </div> --}}
            <div class="group-page__actions"></div>
        </div>
        <div class="group-page__edit"></div>
    </div>
    <hr>
    <div class="group-page__content">
        <div class="group-page__posts-header">
            <h2>Посты</h2>
            {{#if this.isAuthor}}
            <a class="header__link button-action button-no-decorations" href="{{this.createPostHref}}" data-key="createPost">Создать пост</a>
            {{/if}}
            </div>
        <div class="group-page__posts">
            {{#each posts}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>