<div class="comment" data-key="{{this.key}}">
    <div class="comment__avatar">
        <img class="avatar" src="{{this.avatar}}" alt="">
    </div>
    <div class="comment__content">
        <div class="comment__header">
            <a class="comment__name" href="{{this.authorHref}}">{{this.authorName}}</a>
            <span class="comment__date date">{{this.createdAt}}</span>
        </div>
        <div class="comment__text">
            {{this.text}}
        </div>
    </div>
</div>
