<div class="menu" data-key="{{this.key}}">
    <div class="menu-header">
        <div class="title-sign"><a href="{{title.href}}" data-key="{{title.key}}"><h1>{{title.text}}</h1></a></div>
    </div>
    <div class="menu-items">
        {{#each links}}
            {{{this}}}
        {{/each}}
    </div>
</div>
