<div class="{{this.className}}">
    <div class="menu-header">
        <div class="title-sign"><a href="{{title.href}}" data-section="{{title.section}}"><h1>{{title.text}}</h1></a></div>
    </div>
    <div class="menu-items">
        {{#each links}}
            {{{this}}}
        {{/each}}
    </div>
</div>
